
/*body {
  background:url(asset-path('cardboard.png'));
}
*/
a {
  color: #000;
}

h1, h2 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 60px;
  color: #000;
  text-align: center;
}

h3 {
  font-family: 'Amatic SC', cursive;
}

.pin-container{
  padding: 10px;
  text-align: center;
}
.pin {
  padding: 40px;
  min-height: 343px;
  background-color: #fff;
  border: 1px solid #efefef;
}
.show-pin{
  background-color: #fff;
  padding: 40px;  
}
hr{
  clear:both;
}

#notice {
  text-align: center;
}

.show {
  text-align: center;
}