
<div class="pins">
  <h1>categories:</h1>
    
  <% if @pins.empty? %>
  <h1 style="color:brown;">You have no pins! <br> <%= link_to "Add",new_pin_path %> some to display here!</h1>
  <% else %>
  <h4>
    <%=link_to "= Display All Pins =", pins_path %>
  </h4>
    <ul>
      <% @categories.each do |category| %>
        <h3><%= category.name %></h3>

      <% end %>
    </ul>
 <% end %>
</div>
